p{
    color: red;
    font-size: 100px;
}
h1{
    color: royalblue;
    font-size: 70px;
}
h2{
    color: aquamarine;
    font-size: 78px;
}
body{
    background-color: pink;
}
h3{
    color: orange;
    font-size: 80px;
}
h4{
    color: paleturquoise;
    font-size: 54px;
}
h5{
     color: rebeccapurple;
     font-size: 70px;
}
h6{
    color: seagreen;
    font-size: 90px;
}